.red{
    color: red;
}
.yellow{
    color: darkgoldenrod;
}
.green{
    color: forestgreen;
}

.done-task{
    background-color: #a1d7b0 !important;
}

.overdue-task{
    background-color: #ff4444 !important;
}
